<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CrabCake</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/recipecard.css"/>
    <link rel="stylesheet" href="css/footerstyle.css">
</head>

<div th:replace="menu :: navbar"></div>



<div class=row>
<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <div class="container-fluid">
            <h2 class="card-title">Maryland</h2>
            <span class="card-description subtle">Real Maryland crab cakes are all about the pure indulgence of crab, with as little filler and breading as possible to get in the way.Here's how to make them so that they come out deeply flavorful, with large chunks of perfectly seasoned crabmeat, every time.</span>
            </div>
            <!--End of Bootstrap container-->
        </div>
        <div class="container-fluid">
        <img src="http://www.usaflagsupply.com/media/catalog/product/cache/1/image/5e06319eda06f020e43594a9c230972d/2/0/20star_1.gif" class="card-media" />
        </div>
        <span class="card-number card-circle subtle">06</span>
        <span class="card-author subtle">American Recipes</span>
        </div>
    </div>
    </div>
</div>



<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <h2 class="card-title">Crab Cake Recipe</h2>
            <div class="card-read">Read</div>
            <h2 class="card-title">Ingredients</h2>
            <ul>
                <li>1 lb. jumbo lump or backfin crab meat</li>
                <li>2 slices bread or bread crumbs</li>
                <li>1 tbsp. mayonnaise (light or regular)</li>
                <li>1 tbsp. Dijon mustard</li>
                <li>2 tsp. Old Bay seasoning</li>
                <li>1 tbsp. snipped parsley</li>
                <li>1 egg (or substitute for special diets)</li>
                <li>tartar sauce or cocktail sauce</li>
            </ul>
            <h3 class="card-title">Directions</h3>
            <h2 class="card-description subtle">Serve: 6 People</h2>
            <ol>
                <li>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.</li>
                <li>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.</li>
                <li>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.</li>
            </ol>
            <h3>Broil the Crab Cakes:</h3>
            <ol>
                <li>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</li>
            </ol>
            <h4>Or saute:</h4>
            <ol>
                <li>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.</li>
                <li>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</li>
            </ol>
        </div>
        <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2007/8/2/0/TU0303_Crab_Cake.jpg.rend.hgtvcom.616.462.suffix/1393125096227.jpeg" class="card-media" />
    </div>
        <div class="card-shadow"></div>
</div>


<div th:replace="menu :: footer"></div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>