<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jerk Chicken</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/recipecard.css"/>
    <link rel="stylesheet" href="css/footerstyle.css">
</head>
<body>
<div th:replace="menu :: navbar"></div>


<!--Flag Info-->
<div class=row>
    <div class="card-container">
        <div class="card u-clearfix">
            <div class="card-body">
                <div class="container-fluid">
                    <h2 class="card-title">Jamaica</h2>
                    <span class="card-description subtle">.It is said that Jerk Chicken originates from the time the Maroons brought African techniques for cooking meat to Jamaica, which were then combined with native island seasoning and ingredients. The word “Jerk” may have its roots in “charqui,” a Spanish word for dry meat, or it may derive from “jerking,” or poking holes in the meat to hold spices before cooking.
                    </span>
                </div>
                <!--End of Bootstrap container-->
            </div>
            <div class="container-fluid">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Flag_of_Jamaica.svg/2000px-Flag_of_Jamaica.svg.png" class="card-media" />
            </div>
            <span class="card-number card-circle subtle">06</span>
            <span class="card-author subtle">Jamaica Recipes</span>
        </div>
    </div>
</div>
<!--End of Flag Info-->

<!--Recipe Info-->
<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <h2 class="card-title">Jerk Chicken Recipe</h2>
            <div class="card-read">Read</div>
            <h2 class="card-title">Ingredients</h2>
            <ul>
                <li>1/2 small onion, finely chopped</li>
                <li>2 tablespoons soft dark brown sugar</li>
                <li>3 tablespoons soya sauce</li>
                <li>3 tablespoons red wine vinegar</li>
                <li>small handful chopped fresh thyme</li>
                <li>1 teaspoon sesame oil</li>
                <li>3 cloves garlic, chopped</li>
                <li>1/2 teaspoon ground allspice</li>
                <li>1 small red chilli, sliced</li>
                <li>4 skinless, boneless chicken breast fillets - cut into strips</li>
            </ul>
            <h3 class="card-title">Directions</h3>
            <p class="card-description subtle">Prep:10min  ›  Cook:15min  ›  Extra time:1hr  ›  Ready in:1hr25min  </p>
            <ol>
                <li>Combine the onion, brown sugar, soya sauce, vinegar, thyme, sesame oil, garlic, allspice and chilli in the container of a food processor or blender. Process until smooth. </li>
                <li>Place the chicken into a large resealable bag, and pour in 3/4 of the mixture. </li>
                <li>Save the remaining mixture for serving. Squeeze out excess air, and seal. Marinate in the refrigerator for at least one hour.</li>
                <li></li>
                <li>Preheat your oven's broiler without the tray.</li>
                <li></li>
                <li>Remove chicken from the bag, and discard marinade. </li>
                <li>Place chicken on tray and broil for 10 to 15 minutes, turning once to ensure even cooking. </li>
                <li>Heat reserved 1/4 marinade in a small pan to make a sauce and pour over chicken when serving.</li>
            </ol>
        </div>
        <img src="https://crankingkitchen.files.wordpress.com/2011/05/finished.jpg" class="card-media" />
    </div>
    <div class="card-shadow"></div>
</div>
<!--End of Recipie Info-->


<div th:replace="menu :: footer"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>