<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pumpkin Rice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/recipecard.css"/>
</head>
<body>
<div class="row">
    <!--Nav Bar Information Collaspe-->
    <nav class="navbar navbar-default" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="main.html">RecipeBook</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="wings.html">Wings</a></li>
                <li><a href="makroudh.html">Makhrouds</a></li>
                <li><a href="eggsauce.html">Egg Sauce</a></li>
                <li><a href="injera.html">Injera</a></li>
                <li><a href="gulabjamun.html">Gulab Jamun</a></li>
                <li><a href="crabcake.html">Crabcake</a></li>
                <li><a href="jerkchicken.html">Jerk Chicken</a></li>
                <li><a href="croquemadame.html">Croque Madame</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="menu.html">Menu</a></li>

            </ul>
        </div>
    </nav>
</div>
<!--End of Nav Bar Row-->


<!--Flag Info-->
<div class=row>
    <div class="card-container">
        <div class="card u-clearfix">
            <div class="card-body">
                <div class="container-fluid">
                    <h2 class="card-title">Taiwan</h2>
                    <span class="card-description subtle">The pumpkin khao soi with rice noodles is the perfect meal for lunch or dinner because it’s: Super tasty! Bound to satisfy all rumbling stomachs. Easy to make. A good source of protein – 8g per serve. A great source of energy.
                    </span>
                </div>
                <!--End of Bootstrap container-->
            </div>
            <div class="container-fluid">
                <img src="http://flagpedia.net/data/flags/ultra/tw.png" class="card-media" />
            </div>
            <span class="card-number card-circle subtle">06</span>
            <span class="card-author subtle">Taiwan Recipes</span>
        </div>
    </div>
</div>
<!--End of Flag Info-->

<!--Recipe Info-->
<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <h2 class="card-title">Pumpkin Rice Noodles Recipe</h2>
            <div class="card-read">Read</div>
            <h2 class="card-title">Ingredients</h2>
            <ul>
                <li>100g (3.5 oz) dried rice vermicelli</li>
                <li>2 tablespoons oil</li>
                <li>2 cloves garlic, minced</li>
                <li>100g (3.5 oz) ground pork</li>
                <li>100g (3.5 oz) pumpkin (or kabocha), diced</li>
                <li>½ cup water</li>
                <li>2 tablespoons soy sauce</li>
                <li>1 tablespoon sweet soy sauce</li>
                <li>3 dashes white pepper</li>
            </ul>
            <h3 class="card-title">Directions</h3>
            <p class="card-description subtle">Serves 1 | Prep Time: 15 minutes | Cook Time: 5 minutes</p>
            <ol>
                <li>Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside</li>
                <li>Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.</li>
                <li>Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.</li>
                <li>Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok. </li>
                <li>Continue to stir fry until the the vermicelli is cooked through and soaked up the sauce. </li>
                <li>Dish out and serve immediately.</li>
            </ol>
        </div>
        <img src="https://rasamalaysia.com/wp-content/uploads/2011/10/pumpkin_noodles2.jpg" class="card-media" />
    </div>
    <div class="card-shadow"></div>
</div>
<!--End of Recipie Info-->



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>